*{
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.2em;
}

nav {
    flex-wrap: wrap;
    height: inherit;
     
}

.header {
    background-color: #750F05;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
    flex: 1;
}

.header a {
    color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: inherit;
    height: inherit;
    width: inherit;
    padding: 0 10px;
    font-size: 20px;
    flex: 1;
    flex-wrap: wrap;
    
}

.header ul :hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    background: #161413;
}

.header ul {
    display: flex;
    padding: 0;
    list-style: none;
    height: inherit;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header ul li{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 10px;
    flex-wrap: wrap;
}

.logo {
   background-color: #750F05;
}

h1{
    font-family: 'Belleza', sans-serif;
    font-size: 1em;
    line-height: 30px;
    text-transform: capitalize;
    height: 60px;
    color: white;
    text-align: center;
    margin: 10px 15%;
}

h3 {
    color: #750F05;
    margin: 20px 30px 10px;
    font-size: 22px;
}

h2{
    font-family: 'Belleza', sans-serif;
    margin: 10px 20px;
    font-size: 25px;
}

#img-prof{
   margin: 10px 27%;
   flex-wrap: wrap;
}

#logos{
    display: flex;
    position: inherit;
    align-content: center;
    justify-content: center;
    margin: 12px 25%;
}

.img-soc{
    display: flex;
    margin: 0 12px;
    width: 30px;

}

#resumen{
    padding: 10px;
    width: 75%;
    text-indent: 1.5em;
    margin: 0 5%;
}

.certifications {
    background: #fafafa;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    
       
}

.course-name{
    font-size: 20px;
    margin: 10px 0;
}
.course-cert {
    
    margin: 10px 10px;
    padding: 15px 10px 0 20px;
    background: white;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #aaaaaa;
    display: flex;
    width: 45%;
    
}

.course-info{
    width: 50%;
    display: inline-block;
    font-size: .8em;
}

.project-date{
    margin: 5px auto 10px;
    font-size: 17px;
}
.cert-imageContainer{
    
    margin: 10px auto;
    text-align: center;
    padding: 30px 0 0 0;
    
}

.cert-imageContainer img{
    max-width: 100%;
}

.cert-image{
    width: 150px;
}

.hero {
background-image: url("https://i.imgur.com/nc2d21Tl.jpg");
background-size: 500px 300px;
background-repeat: no-repeat;
background-position-x: right; 
background-color: #161413;
display: flex;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
}

.portfolio{
    margin: 20px 5%;
    padding: 10px;
}


#contact{
    background: #161413;
    color: #fafafa;
    height: 350px;
    display: block;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    
    padding: 20px;
}

.form-datos{
    margin-left: 150px;
    font-size: 20px;
    padding: 10px;
}

#contact-title{
    color: #fafafa;
    margin: 10px 70px;
    font-size: 25px;
}

label{
    display: flex;
    
}

#email-input {
    border-color: #aaaaaa;
    background-image: url("https://i.imgur.com/IMJyeMI.png");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    padding: 5px 30px;
    border-radius: 5px;
}

input {
    height: 25px;;
}

input, textarea{
    margin: 7px;
}

#nombre-input{
    padding: 5px 30px;
    border-radius: 5px;
}

#form-message{
    border-radius: 5px; 
    width: 350px;
}

.form-email{
    margin: -30px 50px 0 0;
}

textarea{
    resize: none;
    height: 70px;
}

#boton{
    border-radius: 5px;
    padding: 5px 10px;
    height: 30px;
    margin: 0 10px;
    justify-content: center;
    position: relative;
    top: -30px;
    
}

.footer {
    background: #750F05;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#heart{
    margin: 0 5px;
    vertical-align: middle;
}

.container {
    display: inherit;
    align-content: inherit;
    flex-wrap: inherit;
    margin-left: 70px;
    margin-top: 25px;
}

.burguer-button {
    width: 40px;
    height: 40px;
    display: none;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    position: fixed;
    left: .4em;
    top: .3em;
    background: rgb(22, 20, 19, .75);
    border-radius: 15%;
    
}

@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/fonts/icomoon.eot?287h01');
    src:  url('../icomoon/fonts/icomoon.eot?287h01#iefix') format('embedded-opentype'),
      url('../icomoon/fonts/icomoon.ttf?287h01') format('truetype'),
      url('../icomoon/fonts/icomoon.woff?287h01') format('woff'),
      url('../icomoon/fonts/icomoon.svg?287h01#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0));
  }
  .icon-menu .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(87, 86, 92));
  }
  .icon-menu .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(0, 0, 0));
  }
  .icon-menu .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path9:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path10:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path11:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path12:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path13:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path14:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path15:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path16:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path17:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path18:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  
  

@media screen and (max-width: 769px){
    .header{
        display: block;
        height: auto; 
    }
    .header ul {
        display: block;
        height: 35%;
        
    }

    .header a {
        font-size: 1.2em;
        border: #aaaaaa 1px solid;
        padding: 1em;
        justify-content: center;
        align-content: center;
    }

    .menu {
        position: fixed;
        background: rgb(22, 20, 19, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s; 
   }

   .menu.is-active{
       left: 0;
   }

    .course-cert{
        display: block;
        width: 100%;
    }
    .cert-imageContainer{
        width: auto;
        text-align: center;
        padding: 0;
    }
    .course-info{
        width: auto;
    }
    .container{
        margin: auto;
    }
    .course-info{
        width: auto;
        font-size: 16px;
    }
    .course-name{
        font-size: 1.5em;
    }
    .project-date{
        font-size: 0.9em;
    }
    .container{
        width: auto;
    }
    p {
        width: auto;
    }
    #resumen {
        margin-left: 10%;
    }

    #form-message{
        width: 90%;
    }
    .form-datos{
        margin: auto;
        padding: 0;
    }
    #contact-title{
        font-size: 1.2em;
    }
    #boton{
        margin-top: 1.7em;
    }
    #contact{
        height: auto;
    }
    h1 {
        font-size: 1.2em;
        margin: 0.7em auto 0;
        padding: .15em;
    }
    #img-prof{
        margin: 2.5em auto 0;
        width: 30%;
    }

    #logos{
        margin: 1em auto;
    }
    .burguer-button{
        display: block;
        z-index: 4;
    }
    .logo{
        display: flex;
        align-content: center;
        justify-content: center;
    }
}



@media screen and (max-width: 479px){
    .course-info{
        width: auto;
        font-size: 12px;
    }
    .burguer-button{
        font-size: 1.5em;
    }
}
