*{
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Voltaire', sans-serif;
}

nav{
    
    height: inherit;
     
}

.header {
    background-color: #750F05;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.header a {
    color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: inherit;
    height: inherit;
    width: inherit;
    padding: 0 10px;
    font-size: 20px;
}

.header li :hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    background: #161413;
}

.header ul {
    display: flex;
    padding: 0;
    list-style: none;
    height: inherit;
    justify-content: space-around;
}

.header ul li{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.logo {
   background-color: #fafafa;
   border: #aaaaaa 1px solid;
}

h1{
    font-family: 'Belleza', sans-serif;
    line-height: 30px;
    text-transform: capitalize;
    height: 60px;
    color: white;
    text-align: center;
    margin: 10px 15%;
}

h3 {
    color: #750F05;
    margin: 20px 30px;
    font-size: 22px;
}

h2{
    font-family: 'Belleza', sans-serif;
    margin: 10px 20px;
    font-size: 25px;
}

#img-prof{
   margin: 10px 27%;
}

#logos{
    display: flex;
    position: inherit;
    align-content: center;
    justify-content: center;
    margin: 12px 25%;
}

.img-soc{
    display: flex;
    margin: 0 12px;
    width: 30px;

}

#resumen{
    margin: auto;
    padding: 10px;
    width: 75%;
}
.certifications {
    background: #fafafa;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.course-name{
    font-size: 20px;
    margin: 10px 0;
}
.course-cert {
    width: 30%;
    margin: 10px 20px;
    padding: 20px;
    background: white;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #aaaaaa;
    display: flex;
}

.course-info{
    width: 200px;
    display: inline-block;
    
}

.project-date{
    margin: 5px auto;
    font-size: 17px;
}
.cert-imageContainer{
    width: 220px;
    margin: 10px auto;
    text-align: center;
    padding: 50px 0 0 0;
    
}

.cert-image{
    width: 150px;
}

.hero {
background-image: url("https://i.imgur.com/nc2d21Tl.jpg");
background-size: 500px 300px;
background-repeat: no-repeat;
background-position-x: right; 
background-color: #161413;
display: flex;
align-items: flex-start;
flex-direction: column;
}

.portfolio{
    margin: 20px 5%;
    padding: 10px;
}


#contact{
    background: #161413;
    color: #fafafa;
    height: 350px;
    display: block;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    
    padding: 20px;
}

.form-datos{
    margin-left: 150px;
    font-size: 20px;
    padding: 10px;
}

#contact-title{
    color: #fafafa;
    margin: 10px 70px;
    font-size: 25px;
}

label{
    display: flex;
    
}

#email-input {
    border-color: #aaaaaa;
    background-image: url("https://i.imgur.com/IMJyeMI.png");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    padding: 5px 30px;
    border-radius: 5px;
}

input {
    height: 25px;;
}

input, textarea{
    margin: 7px;
}

#nombre-input{
    padding: 5px 30px;
    border-radius: 5px;
}

#form-message{
    border-radius: 5px; 
    width: 350px;
}

.form-email{
    margin: -30px 50px 0 0;
}

textarea{
    resize: none;
    height: 70px;
}

#boton{
    border-radius: 5px;
    padding: 5px 10px;
    height: 30px;
    margin: 0 10px;
    justify-content: center;
    position: relative;
    top: -22px;
    
}

.footer {
    background: #750F05;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#heart{
    margin: 0 5px;
    vertical-align: middle;
}

.container {
    display: inherit;
    align-content: inherit;
    flex-wrap: inherit;
    margin-left: 70px;
    margin-top: 25px;
}
