*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.2em;
}

nav{
    flex-wrap: wrap;
    height: inherit;
     
}

.header {
    background-color: #750F05;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
    flex: 1;
}

.header  a {
    color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: inherit;
    height: inherit;
    width: inherit;
    padding: 0 10px;
    font-size: 20px;
    flex: 1;
    flex-wrap: wrap;
    
}

.header ul :hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    background: #161413;
    color: #fafafa;
}

.header ul {
    display: flex;
    padding: 0;
    list-style: none;
    height: inherit;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header ul li{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 10px;
    flex-wrap: wrap;
}

.logo {
    background-color: #750F05;
 }

 .burguer-button {
    width: 40px;
    height: 40px;
    display: none;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    position: fixed;
    left: .4em;
    top: .3em;
    background: rgb(22, 20, 19, .75);
    border-radius: 15%;
    
}

.content {
    display: inherit;
    align-content: inherit;
    flex-wrap: inherit;
    margin-left: 70px;
    margin-top: 25px;
}

p {
    margin: 10px auto;
    padding: 10px;
}

h1{
    font-family: 'Belleza', sans-serif;
    line-height: 30px;
    text-transform: capitalize;
    height: 60px;
    color: white;
    text-align: center;
    margin: 10px 15%;
}

h3 {
    color: #750F05;
    margin: 0 auto;
    font-size: 22px;
    
}

h2{
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    font-size: 25px;
}

#resumen {
    background: #161413;
    color: #fafafa;
    margin: 3em auto;
    width: 85%;
}

.titles {
    color: #750F05;
}

.ilustracion {
    margin: 0 auto;
    padding: .5em;
}

.footer {
    background: #750F05;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#heart{
    margin: 0 5px;
    vertical-align: middle;
}

p {
    padding: 10px;
    width: 75%;
    text-indent: 1.5em;
    margin: 0 5%;
}

#madidi-logo {
    width: 1.2em;
    display: inline-block;
}

#umsa {
    width: 1em;
    height: auto;
}

#umsl {
    width: 2em;
    height: auto;
}

#lmadidi,
#link-text {
    color: #079850;
}

.docs a {
    color: #221375;
    text-decoration: none;
}

img {
    display: flex;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/fonts/icomoon.eot?287h01');
    src:  url('../icomoon/fonts/icomoon.eot?287h01#iefix') format('embedded-opentype'),
      url('../icomoon/fonts/icomoon.ttf?287h01') format('truetype'),
      url('../icomoon/fonts/icomoon.woff?287h01') format('woff'),
      url('../icomoon/fonts/icomoon.svg?287h01#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0));
  }
  .icon-menu .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(87, 86, 92));
  }
  .icon-menu .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(0, 0, 0));
  }
  .icon-menu .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(87, 86, 92);
  }
  .icon-menu .path9:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path10:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path11:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path12:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path13:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path14:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path15:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path16:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path17:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu .path18:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  
  

@media screen and (max-width: 769px){
    .header{
        display: block;
        height: auto; 
    }
    .header ul {
        display: block;
        height: 35%;
        
    }

    .header a {
        font-size: 1.2em;
        border: #aaaaaa 1px solid;
        padding: 1em;
        justify-content: center;
        align-content: center;
    }

    .menu {
        position: fixed;
        background: rgb(22, 20, 19, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s; 
   }

   .menu.is-active{
       left: 0;
   }

   .burguer-button{
    display: block;
    z-index: 4;
    }
    
    .logo{
        display: flex;
        align-content: center;
        justify-content: center;
    }

    p {
        width: auto;
        font-size: .9em;
    }
    .content{
        margin: auto;
        justify-content: center;
        align-content: center;
        
    }
    #resumen {
        width: 100%;
        padding: .5em 1.5em;
        text-align: center;
        font-size: 1em;
    }
    #madidi-logo{
        display: inline-block;
        justify-content: center;
        align-content: center;
    }
    h2 {
        font-size: 1em;
        margin: 0.5em 2em;
    }
    h3{
        margin: 0 2.5em;
    }
    .ilustracion{
        width: 50%;
        height: auto;
        padding: .5em;
    }
}


@media screen and (max-width: 479px){
        .burguer-button{
        font-size: 1.5em;
    }
}